@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #476040;
}

a:hover {
  color: #E59759;
}

button,
a.button {
  width: 90%;
  padding: 15px 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  border: none;
  font-size: 13px;
  font-weight: 300;
  outline: none;
  cursor: pointer;
}

a.button:hover {
  color: #ffffff;
}

.button-primary {
  background-color: #E59759;
  color: #ffffff;
}

.smooth-image {
  transition: opacity 1500;
}

.image-visible {
  opacity: 1;
}

.image-hidden {
  opacity: 0;
}

.empty-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.empty-state img {
  height: 200px;
  margin-bottom: 20px;
}

.empty-state h4 {
  font-size: 24px;
  margin: 0 0 12px;
}

.empty-state p {
  font-size: 16px;
  margin: 0 0 20px;
}

.empty-state a {
  max-width: 300px;
}

header {
  background-color: #ffffff;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
  -webkit-box-shadow: 0px 1px 25px 0px rgba(224, 224, 224, 0.3);
  box-shadow: 0px 1px 25px 0px rgba(224, 224, 224, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

nav.row {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  height: 120px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c9d8ca;
}

nav .col {
  display: flex;
  gap: 30px;
  align-items: center;
}

nav img.logo {
  height: 70px;
}

nav a {
  height: 30px;
}

nav .cart-link {
  position: relative;
}

nav img.cart {
  height: 30px;
}

nav span.cart-count {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  top: 15px;
  left: 15px;
  background-color: #E59759;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

nav form input,
nav form input:focus {
  background: url('./assets/search-icon.svg') top right no-repeat;
  background-size: contain;
  width: 300px;
  padding: 12px 24px;
  border-radius: 50px;
  border: 1px solid #c9d8ca;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

section {
  padding: 20px;
}

section#catalog {
  margin-top: 160px;
  margin-bottom: 160px;
}

div.container {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}

#catalog .catalog-name {
  text-align: center;
  width: 100%;
}

#catalog .catalog-name h2 {
  font-size: 45px;
  font-weight: 300;
  margin-bottom: 30px;
}

select.categories-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 7px;
  width: 250px;
  border-radius: 50px;
  border: 1px solid #c9d8ca;
  padding: 12px 24px;
  text-transform: capitalize;
  margin-bottom: 90px;
}

.categories-select:focus-visible {
  border-radius: 50px;
  outline: none;
}

.back-btn {
  display: flex;
  width: fit-content;
  gap: 10px;
  margin-bottom: 50px;
}

.back-btn:hover {
  color: #476040;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  max-width: 250px;
  box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
  -webkit-box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
  -moz-box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
  overflow: hidden;
}

#catalog .cards-container {
  display: grid;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
}

.card * {
  color: rgba(49, 53, 59, 0.96);
}

.card .img-div {
  height: 150px;
  padding: 25px 15px 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 80%;
  max-height: 150px;
  object-fit: contain;
  }

  .card .product-title {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    height: 50px;
}

.card .meta {
  width: 100%;
  padding: 0 25px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
}

.card .meta h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 15px 0;
  color: #476040;
}

.card .meta h4:hover {
  color: #E59759;
}

.card .meta p {
  font-size: 14px;
  font-weight: 400;
  margin: 15px 0 0;
}

.card .meta h5 {
  font-size: 24px;
  font-weight: 700;
  margin: 5px 0 0;
  }

.card button {
  background-color: #E59759;
  color: #ffffff;
  transition: all 200ms ease-in-out;
  }

  .card button.delete-cart,
  .detail-card button.delete-cart {
    background-color: #B42B51;
  }

  .card button:hover {
    transform: translateY(-4px);
  }

  .cart-shopping-info {
    padding: 30px;
    margin: 90px 0 0;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
    -webkit-box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
    -moz-box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
    overflow: hidden;
  }

  .cart-shopping-info h5 {
    text-align: left;
    margin: 10px 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: #476040;
  }

  .cart-shopping-info ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .cart-shopping-info p.total-price {
    margin-top: 20px;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 10px;
    background-color: #c9d8ca;
    color: #476040;
    min-width: 180px;
  }

  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  .product-info .product-name {
    font-weight: 500;
    white-space: nowrap;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-info .product-price {
    color: #476040;
    white-space: nowrap;
    width: 12%;
  }

  .product-info .quantity-btn {
    border-radius: 50px;
    background-color: #ffffff;
    border: 1px solid #eee;
    display: flex;
    color: #476040;
    width: 100px;
  }

  .product-info .quantity-btn input.input-quantity {
    width: 40px !important;
    background-color: #ffffff;
    border: none;
    text-align: center;
  }

  .product-info .quantity-btn input.input-quantity:focus {
    outline: none;
  }

  input.input-quantity::-webkit-outer-spin-button,
  input.input-quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input.input-quantity[type=number] {
    -moz-appearance: textfield;
  }

  .increment-btn,
  .decrement-btn {
    background-color: unset;
  }

  .increment-btn {
    padding: 12px 8px;
  }

  .decrement-btn {
    padding: 12px 8px;
  }

  .increment-btn img,
  .decrement-btn img {
    height: 16px;
  }

  .product-info .product-total {
    font-weight: 600;
    color: #476040;
    white-space: nowrap;
    width: 12%;
}

#detail {
  margin-top: 200px;
}

.detail-card {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 60px 40px 30px;
  gap: 40px;
  width: 100%;
  box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
  -webkit-box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
  -moz-box-shadow: -1px 7px 17px 3px rgba(225, 225, 225, 0.25);
}

.detail-card * {
  color: rgba(49, 53, 59, 0.96);
}

.detail-card .img-div {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.detail-card img {
  max-height: 250px;
  max-width: 100%;
}

.detail-card .meta {
  width: 70%;
}

.detail-card .meta h6 {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

.detail-card .meta h4 {
  font-size: 23px;
  font-weight: 500;
  margin: 0 0 15px 0;
  color: #476040;
}

.detail-card .meta h4:hover {
  color: #E59759;
}

.detail-card .meta p {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.detail-card .meta h5 {
  font-size: 36px;
  font-weight: 500;
  margin: 0;
}

.detail-card button {
  margin: 50px 0 20px;
  background-color: #E59759;
  color: #ffffff;
  width: 200px;
}

.detail-card .meta .desc {
  margin-top: 24px;
}

.detail-card .meta .desc p {
  font-size: 12px;
  line-height: 180%;
}

#footer {
  margin-top: 80px;
  padding-bottom: 40px;
}

#footer .row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

#footer .row .col-feature {
  width: 25%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #476040;
}

#footer .row .col-feature h5 {
  font-size: 21px;
  font-weight: 300;
  margin: 30px 0 5px;
}

#footer .row .col-feature p {
  font-size: 14px;
  margin: 5px 0;
}

.mini-banner {
  background-color: #476040;
  color: #ffffff;
  padding: 30px 20px;
}

.mini-banner .container .left {
  display: flex;
  gap: 30px;
  align-items: center;
}

.mini-banner .container img {
  height: 50px;
}

.mini-banner .container p {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  transform: translateY(6px);
}

@media (max-width: 700px) {
  header {
    padding-bottom: 0;
  }

  .row {
    flex-direction: column;
    width: 100%;
  }

  nav.row {
    padding-bottom: 40px;
    height: auto;
    border-bottom: none;
  }

  .col {
    flex-basis: 100%;
  }

  nav img.logo {
    margin: 30px auto;
  }

  nav a {
    height: 40px;
  }

  nav span.cart-count {
    top: 22px;
    left: 22px;
  }

  nav img.cart {
    height: 40px;
  }

  nav form input,
  nav form input:focus {
    width: 70vw;
    height: 50px;
    border-radius: 25px;
    font-size: 1em;
  }

  section#catalog {
    margin-top: 220px;
  }

  #catalog .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  #catalog .catalog-name h2 {
    font-size: 30px;
  }

  #detail {
    margin-top: 250px;
  }

  .card {
    background-color: #ffffff;
    border-radius: 5%;
  }

  .card .meta h6 {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
  }

  .card .meta h4 {
    font-size: 15px;
    margin: 0 0 15px 0;
  }

  .card .meta p {
    font-size: 12px;
  }

  .card .meta h5 {
    font-size: 16px;
    margin: 0 0 20px 0;
  }

  .card button {
    font-size: 15px;
    font-weight: 400;
  }

  .detail-card {
    padding: 40px 30px;
  }

  .detail-card .img-div {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detail-card img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }

  .detail-card .col.meta {
    width: 100%;
    }

    .detail-card button {
      width: 100%;
  }

  #footer .row {
    margin-bottom: 50px;
  }

  #footer .row .col-feature {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #476040;
  }

  .mini-banner .container .left {
    justify-content: space-between;
    flex-direction: column;
    }

  .mini-banner .container p {
    font-size: 16px;
  }
}
.modal-body {
  max-width: 400px;
  min-height: 150px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  box-sizing: border-box;
  padding: 30px;
}

.modal-body img {
  max-width: 100%;
  height: 150px;
}

.modal-body p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
  text-align: center;
}

.modal-body .modal-skeleton {
  position: relative;
  overflow: hidden;
  width: 5em;
  min-height: 3em;
  background-image:
    linear-gradient(#eee 25px, transparent 0),
    linear-gradient(#eee 25px, transparent 0),
    linear-gradient(#eee 25px, transparent 0),
    linear-gradient(#eee 25px, transparent 0),
    linear-gradient(#eee 25px, transparent 0);
  background-repeat: repeat-y;
  background-size:
    150px 280px,
    230px 280px,
    80px 280px,
    110px 280px,
    230px 280px;
  background-position:
    0 5px,
    0 40px,
    0 75px,
    90px 75px,
    0 110px;
}

.modal-body .modal-skeleton .skeleton-indicator {
  width: 100%;
  height: 100%;
  position: absolute;
  animation-name: skeleton;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.modal-body .modal-skeleton .shadow {
  width: 0;
  box-shadow: 0 0 50px 50px white;
}

.modal-body .modal-skeleton .skeleton-indicator,
.modal-body .modal-skeleton .shadow {
  height: 100%;
}

.custom-modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  box-sizing: border-box;
}

.custom-spinner {
  position: fixed;
  top: 25px;
  left: 35px;
  font-size: 45px;
  animation-name: spinner;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes skeleton {
  0% {
    transform: translateX(0%);
    opacity: 0.1;
  }

  25% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 0.4;
  }

  100% {
    transform: translateX(100%);
    opacity: 0.1;
  }
}
